:root {
  --primary-border-radius: 8px;
}
*:focus-visible {
  border: 3px double brown;
  outline: none;
  border-radius: var(--primary-border-radius);
}
body {
  font-family: "Afacad Flux", serif;
  background: #a7796d;
}
.container {
  background: rgb(253, 192, 201);
  max-width: 700px;
  border-radius: var(--primary-border-radius);
  text-align: center;
  margin: 80px auto 0;
}
.navbar {
  background-color: #f7c8cd;
}
.navbar a {
  color: rgb(22, 11, 11);
}
.navbar a.active {
  font-weight: 500;
}
.navbar-toggler {
  color: #ffbcc6;
}
.nav-link:focus-visible {
  box-shadow: none;
}
.dropdown-menu {
  background-color: #f7c8cd;
  text-align: center;
}
.dropdown-menu a {
  text-transform: capitalize;
}
.dropdown-item:hover,
.dropdown-item:focus-visible {
  background-color: #ffbcc6;
  font-weight: 500;
}
.croissant-icon {
  color: brown;
  font-size: 25px;
  transition: all ease-in-out 500ms;
  margin-top: 20px;
}
a:hover > .croissant-icon,
a:focus-visible > .croissant-icon {
  transform: rotateX(180deg) rotateY(180deg);
}
a:focus-visible > .croissant-icon {
  padding-bottom: 7px;
}
a {
  color: brown;
  transition: all ease-in-out 300ms;
}
a:hover,
a:focus-visible {
  color: rgb(65, 7, 7);
}
a,
p {
  font-size: 17px;
}
footer {
  background: rgb(253, 192, 201);
  max-width: 700px;
  border-radius: var(--primary-border-radius);
  text-align: center;
  margin: 40px auto 20px;
}
.heart-icon {
  color: brown;
  font-size: 16px;
  position: relative;
  bottom: -2.5px;
}

.croissant-type-wrapper {
  border: 1px solid #a7796d;
  border-radius: var(--primary-border-radius);
  margin: 30px;
  padding: 0 20px 10px;
}
.croissant-type-wrapper h2,
.croissant-type-wrapper .name {
  text-transform: capitalize;
}
.croissant-type-wrapper h2 {
  font-size: 25px;
}
.name .description {
  text-transform: none;
  text-align: left;
}
.card-wrapper {
  perspective: 1000px;
  width: 251.2px;
}
.card-wrapper:hover > .custom-card,
.card-wrapper:focus-visible > .custom-card {
  cursor: pointer;
  transform: rotateY(-180deg);
}
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.back {
  background-color: #bd8e83;
  color: rgb(57, 21, 21);
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.card-wrapper-plain,
.card-wrapper-chocolate,
.card-wrapper-fruitella,
.card-wrapper-nutty,
.card-wrapper-cream-cheese {
  height: 376.8px;
}
.card-wrapper-everything,
.card-wrapper-nutty,
.card-wrapper-cream-cheese,
.card-wrapper-ham {
  margin-top: 100px;
}
.card-wrapper-everything {
  height: 200.738px;
}
.card-wrapper-bacon {
  height: 376.038px;
}
.card-wrapper-veggie {
  height: 167.462px;
  margin-top: 70px;
}
.card-wrapper-ham {
  height: 446.438px;
}
.custom-card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all ease-in-out 1300ms;
  background-color: azure;
  transform-style: preserve-3d;
}

@media (min-width: 700px) {
  .front img {
    border-radius: 0.375rem;
  }
}
@media (max-width: 575.5px) {
  .croissant-type-wrapper {
    margin-left: 0;
    margin-right: 0;
    padding-right: 10px;
    padding-left: 10px;
  }
  .name {
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
  }
  .name .description {
    font-weight: normal;
  }
}
